
<!DOCTYPE html>
<html>
<head>
    <title>STC Backend task</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="center">
        <h1><%=result%></h1>
    </div>  
</body>
</html>